{% extends "wrapper.html" %}
{% block content %}
<body class="text-center">
    <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mainpage' %}">Micro Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'mainpage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Authentication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'write_article'  %}">Write a article!</a>
        </li>
        <li class="nav-item">
          <span class="nav-link" >Hello,  {{request.user}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
    </nav>
  </header>
{% for obj in object_list %}
<div class="bs-component d-flex justify-content-center mt-3">
  <div class="jumbotron w-75 p-3 mt-5">
    <h1 class="display-6 text-left">{{ obj.title }}</h1>
    <p class="text-left">Date Realese: {{ obj.date }} </p>
    <p class="text-left">Author: {{ obj.author }} </p>
    <hr class="my-4">
    <p class="lead text-left">{{ obj.post }}</p>
    <div  class="float-left">
      <form action="{% url 'like_article' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="article_id" value="{{ obj.id }}">
      {% if user not in obj.liked.all %}
        <button type="submit" class="fa fa-thumbs-up thumbnail text-muted"></button>
      {% else %}
        <button class="fa fa-thumbs-down thumbnail text-muted" type="submit"></button>
      {% endif %}
      <span>{{ obj.liked.all.count }}&nbsp</span>
      </form>
    </div>
  </div>
</div>
</div>
  <footer class="mastfoot mt-auto">
  </footer>
</div>
{% endfor %}
</body>
{% endblock %}