{% extends "wrapper.html" %}
{% block content %}
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mainpage' %}">Micro Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'mainpage' %}">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Authentication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'write_article'  %}">Write a article!</a>
        </li>
        <li class="nav-item">
          <span class="nav-link" >Hello,  {{request.user}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Micro Blog!</h1>
    <p class="lead">Hello, this is a micro blog, where you can write and read a interesting arcticles!</p>
    <p class="lead">
      <a href="{% url 'articles' %}" class="btn btn-lg btn-secondary">Let's Go!</a>
    </p>
  </main>
  <footer class="mastfoot mt-auto">
  </footer>
</div>
</body>

{% endblock %}
